body{
  background-color: $clear-color;
  color: $font-color;
  font-family: $main-font-family;
  font-size: $font-size;
}

.page-wrapper{
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container{
  box-sizing: border-box;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: block;

  &.header-container{
    display: flex;
      justify-content: space-between;
      align-items: center;
  }
}

header{
  background-color: $clear-color;
  margin: 0 auto $spacer;
  width: 100%;

  .logo{
    width: clamp(200px, 30vw, 500px);
    height: 100px;
    display: flex;
    align-items: center;

    h1{
      font-size: clamp(1rem, 3vw, 2rem);
      white-space: nowrap;
    }

  }
}

main{
  flex: 1;

}

footer{
  background-color: $clear-color;
  padding: 20px 0;
}